body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #f5f3ea;
  color: #333;
}

nav {
  background-color: #5d4037;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav h1 {
  margin: 0;
  font-size: 1.5em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header {
  text-align: center;
  background-color: #a1887f;
  color: white;
  padding: 40px 20px;
}

section {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff8f0;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 5px 0 0;
  background-color: #6d4c41;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  background-color: #5d4037;
  color: white;
  padding: 15px;
  margin-top: 40px;
}

.foto-perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#habilidades h3 {
  margin-top : 20px;
  color : #6d4c41;

}
#habilidades ul{
  list-styles-type:disc;
  padding-left:20px;
  margin-bottom:15px;
}
.grid-habilidades {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.card {
  background-color: #fff3e0;
  border: 1px solid #e0cfc1;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: #5d4037;
}
.foto-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 60%;
  position: relative;
  margin-top: 20px;

  /* overflow: hidden; <-- remova essa linha */
}

.foto-perfil {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}


.foto-wrapper:hover .foto-perfil {
  
  transform: scale(1.3);
}

